<center>
	<p>切换到:<a href="?l=zh-cn">中文</a>||<a href='?l=en-us'>英文</a></p>
	<form action="__URL__/show">
	新闻标题:<input type="text" name="news_name" id="">
	<input type="submit" value="{$wellcome}">
	</form>
	<table border="2">
		<tr>
			<td>编号</td>
			<td>标题</td>
			<td>地址</td>
			<td>点击数</td>
		</tr>
		<foreach name="list" item='v'>
		<tr>
		<td>{$v.id}</td>
		<td>{$v.title}</td>
		<td><a href="__URL__/counts/id/{$v.id}" target="_blank">{$v.url}</a></td>
		<td>{$v.click_num}</td>
		</tr>
		</foreach>	
	</table>
	{$show}
</center>
